@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
body{
    margin: 0;
    padding: 0;
    background: #f0be90;
}
/*messages*/
.msg-section{
    align-items: center;
    box-shadow: inset 0 160px 0 0 #faeec8;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.message-container{
    background-color: #faeec8;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.1);
    height: 720px;
    max-width: 100%;
    width: 900px;
}
/*end-message section*/
/*sidebar*/
.sidebar{
    background-color: #dc9858;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 64px;
}
.sidebar-logo{
    color: #994f55;
    display: block;
    font-size: 24px;
    padding: 12px 8px;
    text-align: center;
    text-decoration: none;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
}
.sidebar-menu a{
    display: block;
    color: #faeec8;
    font-size: 20px;
    margin-left: -25px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    transition: color .1s ease-in-out;
}
.sidebar-menu a:hover{
    color: #994f55;
}
.sidebar-profile{
    margin-top: auto;
    position: relative;
}
.sidebar-profile-toggle{
    background: transparent;
    border: none;
    display: block;
    height: 50px;
    margin-left: -30px;
    outline: transparent;
    width: 60px;
}
.sidebar-profile-toggle > img{
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.sidebar-profile-dd{
    border-radius: 4px;
    bottom: 100%;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    left: -19px;
    list-style: none;
    padding: -4px 0;
    position: absolute;
}

.sidebar-profile-dd a{
    align-items: center;
    display: flex;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none;
    margin-left: -45px;
}
.sidebar-profile-dd a:hover{
    background-color: #994f55;
    color: #faeec8;
}
.sidebar-profile-dd a i{
    margin-right: 12px;
}
/*sidebar content*/
.msg-content{
    height: 100%;
    padding-left: 64px;
}
.content-sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 256px;
}
.content-sidebar-title{
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
}
.content-sidebar-form{
    padding: 0 16px;
    position: relative;
}
.content-sidebar-input{
    background-color: #faeec8; 
    border: 2px solid #994f55;
    border-radius: 20px;
    outline: none;
    padding: 8px 14px;
    padding-right: 32px;
    width: 100%;
}
.content-sidebar-input:focus{
    border-color: #dc9858;
}
.content-sidebar-submit{
    background: transparent;
    border: none;
    color: #dc9858;
    cursor: pointer;
    outline: transparent;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
}
.content-messages{
    max-height: 100%;
    margin-top: 16px;
    overflow-y: auto;
}
.content-messages-list{
    list-style: none;
    padding: 8px 0
}
.content-messages-list li{
    align-items: center;
    display: flex;
    padding: 4px 16px;
    text-decoration: none;
    width: 100%;
}
.content-messages-list li:hover{
    background-color: #d47c6f;
}
.content-messages-img{
    border-radius: 50%;
    flex-shrink: 0;
    height: 32px;
    object-fit: cover;
    width: 32px;
}
.content-messages-info{
    display: grid;
    margin-right: 32px;
}
.content-username{
    color: #994f55;
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.content-messages-text{
    color: black;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-messages-title{
    color: #dc9858;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 10px;
    text-transform: uppercase;
}

.content-messages-time{
    color: #994f55;
    font-size: 12px;
    font-weight: 500;
}
.content-messages-unread{
    background-color: #dc9858;
    border-radius: 4px;
    color: #994f55;
    font-size: 15px;
    font-weight: 500;
    padding: 2px 4px;
}
.content-messages-more{
    text-align: right;
}

/*#messages{
    background: #faeec8;
    border: 2px solid #994f55;
    border-radius: 25px;
    height: 60rem;
    left: 20px;
    overflow-y: auto;
    position: fixed;
    top: 30px;
    width: 50%;
    
}
#sendMessage{
    background: #faeec8;
    border-radius: 5px;
    bottom: 0;
    height: 50px;
    margin-left: 20px;
    position: fixed;
    width: 50%;
}
#msgTxt{
    border: 2px solid #994f55;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    top: 0;
    width: calc(100% - 100px);
    
}
#msgBtn{
    background: #dc9858;
    border-radius: 25px;
    height: 100%;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}*/
/*for mobile*/
@media screen and (max-width:1600px) {
    .message-container{
        height: 100vh;
        max-width: unset;
    }
}